astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
idna==2.10
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
python-dotenv==0.15.0
requests==2.25.1
six==1.15.0
stytch==4.0.2
toml==0.10.2
urllib3==1.26.6
Werkzeug==1.0.1
wrapt==1.12.1
