<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello Socks | Stytch example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
</head>
<body>
<div class="app">
    <div class="nav">
        <h2>Hello Socks</h2>
        <div>
            <span class="navItem">Women</span>
            <span class="navItem">Men</span>
            <span class="navItem">Kids</span>
            <span class="navItem">Sale</span>
            <span class="navItem">Community</span>
        </div>
        <div>
            <img class="icon" src="{{ url_for('static', filename= 'images/shopping-bag.png') }}">
            <img class="icon" src="{{ url_for('static', filename= 'images/person.png') }}">
        </div>
    </div>
    <div class="content">
        <div class="card">
            <div class="cardContent">
                <h1>Welcome back {{ email }}!</h1>
                <p>Your socks just can't wait to be shipped!</p>
                <form action="{{ url_for('logout')}}" method="GET">
                    <div class="actions">
                        <a><b>Logout</b></a>
                        <input class="arrow" type="image" src="{{ url_for('static', filename= 'images/arrow.png') }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
